{% extends 'p_base_no_nav.html' %}
{% block title %}Add Card{% endblock %}
{% load crispy_forms_tags %}
{% block heading %}
    <h1 class="mt-2">Payment</h1>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  Order#
  <select name = "dropdown1">
  {% for invoice in invoices %}
    <option value="{{ invoice.order.id }}">{{ invoice.order.id }}</option>
  {% endfor %}
  </select>
  {{form|crispy}}
  <input type='submit' value='Pay' />
  <a href="/patient_portal/patient_billing"><input type='button' value='Cancel' /></a>
</form>
{% endblock %}