{% extends 'portal_base.html' %}
{% block content %}
<center>
    <h3> Review Your Information:</h3>
    <strong> Your name: </strong>{{your_name}}<br/>
    <strong> Phone: </strong>{{your_phone}}<br/>
    <strong> Email: </strong>{{your_email}}<br/>
    <strong> Address: </strong>{{your_address}}<br/>
    <strong> Time: </strong>{{your_schedule}}<br/>
    <strong> Date: </strong>{{your_date}}<br/>
    <strong> Message: </strong>{{your_message}}<br/>


<br/><br/>
<strong>Note: </strong> This appointment has not been set yet. We will contact you shortly via telephone to confirm your appointment. 

</center>
{% endblock %}