{% extends 'portal_base.html' %}
{% block title %}
Billing
{% endblock %}
{% load phone_number %}
{% load crispy_forms_filters %}



{% block content %}
<div class="container">
    <span class="display-4">
                    Order Invoices
                </span>

                <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoices in active_orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.invoice. }}</td>
                                   
                                </tr>
                            {% empty %}
                            {% endfor %}
                            <td class="{% cycle object %}">...</td>
    <td class="{{ object }}">...</td>
                            </tbody>
                        </table>
            
</div> 
{% endblock %}