{% extends 'portal_base.html' %}
{% block title %}
Billing
{% endblock %}
{% load phone_number %}
{% load crispy_forms_filters %}



{% block content %}
<a href="{% url 'add_card' %}"><button type="button" class="btn btn-primary">Add Credit Card</button></a>
<div class="container">
    <span class="display-4">
                    Order Invoices
                </span>

                <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td>{{ invoice.order.id }}</td>
                                    <td>$ {{ invoice.price }}</td>
                                   
                                </tr>
                            {% empty %}
                            {% endfor %}
                            </tbody>
                        </table>
            
</div> 
{% endblock %}