{% extends 'portal_base.html' %}
{% block title %}
Billing
{% endblock %}
{% load phone_number %}
{% load crispy_forms_filters %}



{% block content %}
<div class="container">
    <span class="display-4">
                    Order Invoices
                </span>
                <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in invoices %}
                                <tr>
                                    <td>{{ invoice.order.id }}</td>
                                    <td>${{ invoice.total|floatformat:2 }}</td>
                                   
                                </tr>
                            {% empty %}
                            {% endfor %}
                            </tbody>
                        </table><br>
    <span class="display-4">
                    Paid Invoices
                </span>
                <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in paidinvoices %}
                                <tr>
                                    <td>{{ invoice.order.id }}</td>
                                    <td>${{ invoice.total|floatformat:2 }}</td>
                                   
                                </tr>
                            {% empty %}
                            {% endfor %}
                            </tbody>
                        </table><br>
<a href="{% url 'add_card' %}"><button type="button" class="btn btn-primary">Pay</button></a>            
</div>

{% endblock %}